
__pycache__/

exps
exps*/

config/*.yaml

output
output*/

.output
.output*/

.logs
.logs/

debug
debug*/

scripts/*.sh

wandb
wandb*/


# 忽略单个 .DS_Store 文件
.DS_Store

# 忽略所有目录下的 .DS_Store 文件（递归忽略，推荐）
**/.DS_Store

# 忽略 .DS_Store 的备份文件（部分场景会生成）
.DS_Store?
