###
# 修改记录：
# sim_loss 2
# sim_loss 将计算loss的权重，和是否计算该loss分开；便于计算loss但将权重为0，仅用于记录二不参与训练
# 使用shuffle， 将feature先上采样，再codebook匹配，之后下采样
# -
# 其他实验：
# 添加参数delay: 0: CVQ的计算, 其他>0的数字，0.1， 则采用固定delay
# 
###

##### train
exp_name: fashion-mnist_512x64_shuffle # 使用shuffle， 将feature先上采样，再codebook匹配，之后下采样

output_folder: ./output

dataset: fashion-mnist

batch_size: 1024
num_epochs: 500       # number of epochs (default: 100)
seed: 42              # seed for everything
lr: 3e-4
num_workers: 16

# loss
calc_sim_loss: Ture
sim_loss: 0             # 权重为0，则表示不参与训练；仅 calc_sim_loss=True & sim_loss > 0时参与训练

commitment_cost: 0.25   # hyperparameter for the commitment loss (default: 0.25)


# model
# Latent space
hidden_size: 128        # size of the latent vectors (default: 128)
num_residual_hidden: 32 # size of the redisual layers (default: 32)
num_residual_layers: 2  # number of residual layers (default: 2)

# codebook
# Quantiser parameters
num_embedding: 512      # number of codebook (default: 512)
dim_embedding: 64
shuffle: True
# size_dmbedding: num_embedding * dim_embedding

distance: cos           # distance for codevectors and features
split_type: fixed       # fixed, interval, random
anchor: closest         # anchor sampling methods (random, closest, probrandom)


##### test
# model_name: {exp_name}/'best.pt'
# batch_size: 16


##### eval
num_test: 0  # how many examples to load for testing (default: 0 to test all samples)
# ori_path: ${output_folder}/results/{exp_name}/best.pt/original
# rec_path: ${output_folder}/results/{exp_name}/best.pt/rec


# server vislab 12
data_folder: /data2/common/fashion-mnist

# server vislab 13
# data_folder: /home2/jieli/datasets/fashion-mnist

 